body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.grid-container {
	background-color: rgba(0, 0, 0, 0.267);
	display: flex;
	margin-top: 40px;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.grid-obj {
	background-color: white;
	margin: 1px;
}

.active {
	background-color: rgb(129, 129, 129);
}

.frm {
	margin-top: 20px;
}

.frm input {
	text-align: center;
	width: 30px;
}
